@model Cotacao

@{
    ViewData["Title"] = "Home Page";

    var dadosCotacao = Model.Cotacoes;
}

<style>
    .dolarTable {
        width: 100%;
        border-collapse: collapse;
    }

    .dolarTable th, .dolarTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
</style>

<div>
    <h2 class="text-center">DÓLAR COMERCIAL</h1>
        <br />
    <div style="border: 2px solid #ccc; background-color: #181818; padding: 10px;">
        <ul>
            <li>Dados do Banco Central do Brasil.</li>
            <li>Selecione a data para consulta. Os valores mostrados são as cotações de compra e venda no fechamento da data escolhida.</li>
            <li>Os dados estão disponíveis apenas para dias úteis.</li>
        </ul>
    </div>
</div>
<br/>
<br />
<br />

@if(Model.TipoResposta == ETipoResposta.valido)
{
    <div class="dataInput">
        <input disabled hidden id="dataCotacao" value="@Model.Data"/>
        <input disabled type="hidden" id="ctt" value="@Model.Cotacoes" />
        <input disabled type="hidden" id="dt" value="@Model.Data" />
        <h3>Selecione uma data:</h3>
        <div>
            <input type="date" id="dataEscolhida" name="dataEscolhida">
            <button onclick="BuscaCotacao()">Pesquisar</button>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <h3>Cotações:</h3>
        <table class="dolarTable">
            <thead>
                <tr>
                    <td></td>
                    <td>Cotação do dia</td>
                    <td>Valor movimentado (USD)</td>
                    <td>Valor convertido (BRL)</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Compra</td>
                    <td><input class="number currency" disabled id="compra" value="" /></td>
                    <td><input class="number currency" id="valorComprado" value="" /></td>
                    <td><input class="number currency" disabled id="totalComprado" value="0" /></td>
                </tr>
                <tr>
                    <td>Venda</td>
                    <td><input class="number currency" disabled id="venda" value="" /></td>
                    <td><input class="number currency" id="valorVendido" value="" /></td>
                    <td><input class="number currency" disabled id="totalVendido" value="0" /></td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <h3>Não há dados disponíveis.</h3>
    </div>
}
<br />
<br />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/jquery.inputmask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var info = $("#ctt").val();
        var data = $("#dt").val();
        MostrarCotacao(data,info);
    })

    function MostrarCotacao(data,info){
        var arr = $.parseJSON(info);
        var v = arr.value;
        if (v.length == 0) {
            $("#compra").val("Sem informação");
            $("#venda").val("Sem informação");
        }
        else {
            var cotCompra = v[0].cotacaoCompra;
            var cotVenda = v[0].cotacaoVenda;
            if (cotCompra != "") {
                $("#compra").val(cotCompra);
            }
            else {
                $("#compra").val("Sem informação");
            }
            if (cotVenda != "") {
                $("#venda").val(cotVenda);
            }
            else {
                $("#venda").val("Sem informação");
            }
        }
    }

    function BuscaCotacao(){
        var dataEscolhida = $("#dataEscolhida").val();
        var arrDt = dataEscolhida.split('-');
        var dataAtualizada = arrDt[2] + '/' + arrDt[1] + '/' + arrDt[0]
        var url = "/Home/UpdateValues";
        $.post(url,{dataEscolhida:dataEscolhida}, function(data){
            $("#dataCotacao").val(dataAtualizada);
            MostrarCotacao(dataEscolhida, data);
            AtualizaResultado();
        });
    }

    function AtualizaResultado(){
        var cc = $("#compra").val();
        var vc = $("#valorComprado").val();
        var cResult = cc*vc;
        $("#totalComprado").val(cResult);

        var cv = $("#venda").val();
        var vv = $("#valorVendido").val();
        var vResult = cv * vv;
        $("#totalVendido").val(vResult);
    }

    $("#valorComprado").change(function(){
        AtualizaResultado();
    })

    $("#valorVendido").change(function () {
        AtualizaResultado();
    })
</script>